<!-- 跨域请求配置 -->


const { playPl } ={ ...this.$store.state.sscPlayPlList }



'/apis': {
	// 测试环境
	target: 'http://43.230.171.202:8080',  // 接口域名
	changeOrigin: true,  //是否跨域
	pathRewrite: {
		'^/apis': ''	//需要rewrite重写的,
	}
},

<template></template>

<router-link to=""></router-link>

<router-view></router-view>

<Msg :message="msg" v-show="isShow"></Msg>

<Header title="站内信"></Header>

<Footer acti="2"></Footer>

<ImgLoadding :item="item"></ImgLoadding>


<script>

	// 存储
	localStorage.setItem("lastname", "Gates");
	// 取回
	localStorage.getItem("lastname");
	// 转换字符串
	var obj=JSON.stringify({"userId":data.data.userId,"token":data.data.token})
	
	//设置本地缓存
	localStorage.setItem("user",obj);

	// 输出
	console.log(JSON.parse(localStorage.getItem("user")))

	// 跳转
	this.$router.push({'name':'Index'})

	export default {
		name:'',
		props:[],
		data(){
			return{
				msg:'',
				isShow:false,

				// 用户ID
				uid:this.param('uid'),
				// 鉴权码
				token:this.param('token'),

			}
		},
		created(){
			this.data();
			this.$store.commit('webLink');
		},
		mounted(){
			webLink(){
				return this.$store.state.webLink
			}
		},
		computed:{

		},
		methods:{
			data(){
				var _this=this;
				_this.ajax('WebSetting',{

					uid:_this.param('uid'),
					token:_this.param('token'),

					id:_this.$route.params.id
				},
				data =>{
					_this.alert(data,_this);
					state.webLink=data.kefuUrl
				}
				)

			}
		},
		filters:{
			
		},
		components:{

		}
	}

</script>

<style scoped>
	
</style>


<!-- 模版 -->

<script>
	export default {
		name:'BankTransfer',
		data(){
			return{
				
			}
		},
		computed:{
			
		},
		created(){
			
		},
		mounted(){

		},
		methods:{
			
		},
		filters:{
			
		},
		components:{
			
		},
		beforeDestroy(){
						
		}
	}
</script>